  
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Search 
  </button>
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
    <%= bootstrap_form_with url: list_contents_path, layout: :inline, method: :get, html: {class: "mb-2"}, data: {controller: "filters", filters_target: "form", turbo_frame: :content_table} do |form| %>
      <%= form.text_field :title, 
            #hide_label: true,
            #placeholder: "#{column_name}",
            autocomplete: "off",
            data: {action: "input->filters#filter"},
            value: session.dig('content_filters',:title)
      %>
      <%= form.text_field :display_title, 
            autocomplete: "off",
            data: {action: "input->filters#filter"},
            value: session.dig('content_filters',:display_title)
      %>
      <%= form.text_field :user,
            autocomplete: "off",
            data: {action: "input->filters#filter"},
            value: session.dig('content_filters',:user)
      %>
      <%= form.select :copyright_permission, 
            options_for_select(
              CopyrightPermission.all.pluck(:organization_name, :id),
              session.dig('content_filters',:copyright_permission)
            ),
            { include_blank: true },
            data: {action: "input->filters#filter"}
      %>
      <%= form.number_field :year_of_publication_from, 
            autocomplete: "off",
            data: {action: "input->filters#filter"},
            value: session.dig('content_filters',:year_of_publication_from)
      %>
      <%= form.number_field :year_of_publication_to, 
            autocomplete: "off",
            data: {action: "input->filters#filter"},
            value: session.dig('content_filters',:year_of_publication_to)
      %>
      <%= form.text_field :description, 
            autocomplete: "off",
            data: {action: "input->filters#filter"},
            value: session.dig('content_filters',:description)
      %>
    <% end %>
    <hr>
    <%= bootstrap_form_with url: list_contents_path, layout: :inline, method: :get, data: {controller: "filters", filters_target: "form", turbo_frame: :content_table} do |form| %>
      <% MetadataType.all.each do |metadata_type| %>
        <%= form.text_field "metadata[#{metadata_type.id}]",
              label: metadata_type.name,
              autocomplete: "off",
              data: {action: "input->filters#filter"},
              value: session.dig('content_filters',metadata_type.id)
        %>
      <% end %>
    <% end %>
    </div>
  </div>
  <div class="btn-group dropstart float-end">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      Column Select
    </button>
    <div class="dropdown-menu p-3">
      <%= bootstrap_form_with url: list_contents_path, method: :get, data: {controller: "filters", filters_target: "form", turbo_frame: :content_table} do |form| %>
        <div class="mb-3">
          <%= render partial: "shared/column_check_box", locals: {filters: "content_filters", column: "title"} %>
          <%= render partial: "shared/column_check_box", locals: {filters: "content_filters", column: "display_title"} %>
          <%= render partial: "shared/column_check_box", locals: {filters: "content_filters", column: "user"} %>
          <%= render partial: "shared/column_check_box", locals: {filters: "content_filters", column: "copyright_permission"} %>
          <%= render partial: "shared/column_check_box", locals: {filters: "content_filters", column: "year_of_publication"} %>
          <%= render partial: "shared/column_check_box", locals: {filters: "content_filters", column: "description"} %>
        </div>
        <%= form.collection_check_boxes :columns,
              MetadataType.order(:name), :id, :name,
              label: "Metadata",
              data: {action: "input->filters#filter"},
              value: session.dig('content_filters',:columns),
              class: "w-100"
        %>
      <% end %>
    </div>
  </div>
<%= turbo_frame_tag :content_table do %>
  <p class="frame-loading">Loading...</p>
  <table class="table table-striped">
    <thead>
      <tr>
        <%= render partial: "sortable-header", locals: {column: "title"} %>
        <%= render partial: "sortable-header", locals: {column: "display_title"} %>
        <%= render partial: "sortable-header", locals: {column: "user"} %>
        <%= render partial: "sortable-header", locals: {column: "copyright_permission"} %>
        <%= render partial: "sortable-header", locals: {column: "year_of_publication"} %>
        <%= render partial: "sortable-header", locals: {column: "description"} %>

        <% MetadataType.all.each do |metadata_type| %>
          <%# puts session.dig("content_filters", "columns"), metadata_type.name, metadata_type.id %>
          <% if session.dig("content_filters", "columns")&.include?(metadata_type.id.to_s) %>
            <th><%= metadata_type.name %></th>
          <% end %>
        <% end %>

        <th colspan="2">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% contents.each do |content| %>
        <%= tag.tr id: dom_id(content) do %>
          <% if session.dig("content_filters", "columns")&.include?('title') %>
            <td><%= content.title %></td>
          <% end %>
          <% if session.dig("content_filters", "columns")&.include?('display_title') %>
            <td><%= content.display_title %></td>
          <% end %>
          <% if session.dig("content_filters", "columns")&.include?('user') %>
            <td><%= content.user.name %></td>
          <% end %>
          <% if session.dig("content_filters", "columns")&.include?('copyright_permission') %>
            <td><%= content.copyright_permission.organization_name %></td>
          <% end %>
          <% if session.dig("content_filters", "columns")&.include?('year_of_publication') %>
            <td><%= content.year_of_publication %></td>
          <% end %>
          <% if session.dig("content_filters", "columns")&.include?('description') %>
            <td><%= content.description %></td>
          <% end %>

          <% MetadataType.all.each do |metadata_type| %>
            <% if session.dig("content_filters", "columns")&.include?(metadata_type.id.to_s) %>
              <td><%= content.metadatas(metadata_type.id) %></td>
            <% end %>
          <% end %>

          <td><%= link_to "Show", content, data: {"turbo-frame": "_top"} %></td>
          <% if policy(content).edit? %>
            <td><%= link_to "Edit", edit_content_path(content), data: {"turbo-frame": "_top"} %></td>
          <% else %>
            <td></td>
          <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <%= raw pagy_bootstrap_nav(pagy) %>
<% end %>


