<%= bootstrap_form_for [@metadata_type, @content], data: {controller: 'form'} do |form| %>
	<%# if @content.errors.any? %>
<!--		<div style="color: red">
			<h2><%#= pluralize(@content.errors.count, "error") %> prohibited this content from being saved</h2>
			<ul>
				<%# @content.errors.each do |error| %>-->
					<%#puts(error)%>
<!--					<li><%#= error.full_message %></li>-->
				<%# end %>
<!--			</ul>
		</div>
	<%# end %>-->

	<div class="row">
		<div class="field col-lg-6 col-md-12">
			<%#= form.label :title %>
			<!--<div class="tooltip-holder ms-1" data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip" data-bs-title="What happends when we have a really long tooltip? But what if it's really long? Like really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really really long">?</div>-->
			<%#= form.text_field :title, required: true, skip_label: true %>
			<%= form.text_field :title, required: true %>
		</div>

		<div class="field col-lg-6 col-md-12">
			<%= form.text_field :display_title, required: true %>
		</div>
	</div>

	<div class="row">
		<div class="field">
			<%= form.text_area :description, required: true %>
		</div>
	</div>

	<!--<div class="row" data-controller='filepond'>-->
	<div class="row">
		<div data-controller='filepond' 
			data-filepond-extensions-value='["application/pdf","audio/mpeg","video/mp4"]' 
			class="field col-lg-4 col-md-6 col-sm-12"
		>
			<%= form.label :file, "File", class: "form-label" %>
			<%= form.file_field :file, class: 'filepond', direct_upload: true, skip_label: true %>
			<!--<p class="error"><%#= @content.errors.full_messages_for(:file)[0] %></p>-->
		</div>

		<div class="field col-lg-4 col-md-6 col-sm-12">
			<%= form.number_field :year_of_publication %>
		</div>

		<div class="field col-lg-4 col-md-6 col-sm-12">
			<%= form.collection_select(:copyright_permission_id, CopyrightPermission.all, :id, :organization_name, {:prompt => "Select"}, required: true ) %>
		</div>
	</div>
	
	<div class="field">
		<%= form.text_area :additional_notes %>
	</div>

	<div class="mb-3">
		<label class="form-label">Metadata</label>
		<div class="form-control">
			<% MetadataType.all.order(:order).each do |metadata_type| %>

				<div class="mb-3" 
					data-controller='multiSelect' 
					id="multiSelectFor=<%= metadata_type.id %>" 
					data-action="focusin->multiSelect#onSearchFocusIn focusout->multiSelect#onSearchFocusOut" 
					data-multiSelect-type-value="<%= metadata_type.id%>"
					class="field"
				>
					<label class="form-label-sm"><%= metadata_type.name %></label>
					<div class="form-control" 
						data-action="click->multiSelect#onSearchInputClick"
						id="metadataInput_<%= metadata_type.id %>_container"
					>
						<% metadata_type.metadata.each do |metadatum| %>
							<% is_checked = @content.metadata.include?(metadatum) %>
							<div class="auto-complete-selected <%= is_checked ? "" : "hidden" %>" 
								id="metadatum_badge_<%= metadatum.id%>" 
								data-action="mousedown->multiSelect#onBadgeClicked"
							>
								<span class="badge text-bg-primary" id="metadatum_badge_span_<%= metadatum.id%>">
									<%= metadatum.name %>
								</span>
							</div>
							<% if is_checked%>
								<input class="hidden" 
										type="checkbox" 
										name="content[metadatum_ids][]" 
										id="content_metadatum_ids_<%= metadatum.id %>" 
										value="<%= metadatum.id %>"
										data-multiSelect-target="checkbox"
										checked	
								>
							<% else %>
								<input class="hidden" 
										type="checkbox" 
										name="content[metadatum_ids][]" 
										id="content_metadatum_ids_<%= metadatum.id %>" 
										value="<%= metadatum.id %>"
										data-multiSelect-target="checkbox"
								>
							<% end %>
						<% end %>
						<input class="auto-complete" 
								placeholder="Search" 
								id="metadataInput_<%= metadata_type.id %>" 
								data-multiSelect-target="searchInput"
								data-action="input->multiSelect#onSearchInput" 
								autoComplete="off"
								size="35"
						>
					</div>
					<!--<p class="error">Please select metadata values</p>-->
					
					<div class="list-group hidden" id="metadataInput_<%= metadata_type.id %>_list">
						<% metadata_type.metadata.first(10).each do |metadatum| %>
							<%= render 'list-group-item', is_active: @content.metadata.include?(metadatum), metadatum: metadatum %>
						<% end %>
					</div>
				</div>
			<% end %>
		</div>
	</div>

	<div class="actions mb-3">
		<%= form.submit "Save" %>

		<%= link_to "Cancel", contents_path, :class => "btn btn-danger"%>
	</div>
<% end %>