<%= turbo_stream.append @target do %>
    <div class="auto-complete-selected" id="metadatum_badge_<%= @metadatum.id%>" data-action="mousedown->multiSelect#onBadgeClicked"><span class="badge text-bg-primary" id="metadatum_badge_span_<%= @metadatum.id%>" ><%= @metadatum.name %></span></div>
    <input class="hidden" 
            type="checkbox" 
            name="content[metadatum_ids][]" 
            id="content_metadatum_ids_<%= @metadatum.id %>" 
            value="<%= @metadatum.id %>"
            data-multiSelect-target="checkbox"
            checked	
    >
<% end %>