<div class="row">
  <div class="col">
    <h1>Content</h1>
  </div>
  <div class="col">
    <%= link_to "ADD Content", new_content_path, class: "btn btn-primary" %>
  </div>
</div>
<div class="row">
  <div class="col">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Title</th>
          <th>Display Title</th>
          <th>File</th>
          <th>User</th>
          <th colspan="2">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @contents.each do |content| %>
          <tr>
            <td><%= content.title %></td>
            <td><%= content.display_title %></td>
            <td><%= content.file_identifier %></td>
            <td><%= content.user.name %></td>
            <td><%= link_to "Show", content %></td>
            <td><%= link_to "Edit", edit_content_path(content) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>