<%= bootstrap_form_with(model: copyright_permission) do |form| %>
  <% if copyright_permission.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(copyright_permission.errors.count, "error") %> prohibited this copyright_permission from being saved:</h2>

      <ul>
        <% copyright_permission.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.text_area :notes %>
  </div>

  <div>
		<%= form.collection_select(:organization_id, Organization.all, :id, :name, {:prompt => "Select"}) %>
  </div>

  <div>
    <%#= form.check_box :granted %>
    <%= form.select :granted, options_for_select(CopyrightPermission.granteds.map {|key, value| [key.titleize, value]}), {:prompt => "Select"} %>
  </div>

  <div>
    <%= form.date_field :date_contacted %>
  </div>

  <div>
    <%= form.date_field :date_of_response %>
  </div>

  <div>
    <%#= form.text_field :communication %>
    <%= form.file_field :communication %>
    <%= form.hidden_field :communication_cache, :value => @copyright_permission.communication_cache %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
