

<div id="<%= dom_id @copyright_permission %>">
  <p>
    <strong>Description:</strong>
    <%= @copyright_permission.description %>
  </p>

  <p>
    <strong>Organization:</strong>
    <%= @copyright_permission.organization_id %>
  </p>

  <p>
    <strong>Granted:</strong>
    <%= @copyright_permission.granted %>
  </p>

  <p>
    <strong>Date contacted:</strong>
    <%= @copyright_permission.date_contacted %>
  </p>

  <p>
    <strong>Date of response:</strong>
    <%= @copyright_permission.date_of_response %>
  </p>

  <p>
    <strong>User:</strong>
    <%= @copyright_permission.user_id %>
  </p>

</div>

<div>
  <%= link_to "Edit this copyright permission", edit_copyright_permission_path(@copyright_permission) %> |
  <%= link_to "Back", copyright_index_path %>

  <%= button_to "Destroy this copyright permission", @copyright_permission, method: :delete %>
</div>
