

<div id="<%= dom_id @copyright_permission %>">
  <div class="row">
    <div class="col-md-4">
      <p>
        <strong>Notes:</strong>
        <%= @copyright_permission.notes %>
      </p>

      <p>
        <strong>Organization name:</strong>
        <%= @copyright_permission.organization_name %>
      </p>

      <p>
        <strong>Organization website:</strong>
        <%= @copyright_permission.organization_website %>
      </p>

      <p>
        <strong>Organization contact information:</strong>
        <%= @copyright_permission.organization_contact_information %>
      </p>

      <p>
        <strong>Granted:</strong>
        <%= @copyright_permission.granted %>
      </p>

      <p>
        <strong>Date contacted:</strong>
        <%= @copyright_permission.date_contacted %>
      </p>

      <p>
        <strong>Date of response:</strong>
        <%= @copyright_permission.date_of_response %>
      </p>
      

      <p>
        <strong>User:</strong>
        <%= @copyright_permission.user.name %>
      </p>
    </div>

    <div class="col-md-8">
      <p>
        <strong>Communications:</strong>
        
      </p>
      <p><%= @copyright_permission.communication.content_type %></p>
      <%# if @copyright_permission.communication.content_type == "application/pdf" %>
        <iframe src='<%= url_for(@copyright_permission.communication) %>' width="600" height="780"></iframe>
      <%# elsif @copyright_permission.communication.representable? %>
        <%#= image_tag @copyright_permission.communication.preview(resize_limit_to: [100, 100]) %>
      <%# end %>
    </div>
</div>

<div>
  <% if policy(@copyright_permission).edit? %>
    <%= link_to "Edit this copyright permission", edit_copyright_permission_path(@copyright_permission) %> |
  <% end %>
  <%= link_to "Back", copyright_permissions_path %>

  <% if policy(@copyright_permission).destroy? %>
    <%= button_to "Destroy this copyright permission", @copyright_permission, method: :delete %>
  <% end %>

</div>
