<div class="row">
  <div class="col">
    <h1>Metadata Type</h1>
  </div>
  <div class="col">
    <%= link_to "ADD METADATA TYPE", new_metadata_type_path, class: "btn btn-primary" %>
  </div>
</div>
<div class="row">
  <div class="col">
  <!--TODO: need to be able to edit and destroy MetadataTypes and need to be able to add metadata to types-->
<!--            <td><%##= link_to "Show", metadata_type %></td>
            <td><%##= link_to "Edit", edit_metadata_type_path(metadata_type) %></td>
            <td><%##= button_to "Destroy", metadata_type_path(metadata_type), method: :delete, data: { confirm: "Are you sure?" } %></td>-->
    <div class="accordion">
      <% @metadata_types.each do |metadata_type| %>
        <div class="accordion-item" data-controller="accordion" data-accordion-type-value="<%= metadata_type.id %>">
          <h2 class="accordion-header" id="heading<%= metadata_type.id %>">
            <button class="accordion-button collapsed" 
                    type="button" 
                    aria-expanded="false" 
                    aria-controls="collapse<%= metadata_type.id %>"
                    data-action="click->accordion#toggleCollapse" 
                    data-accordion-target="collapseButton"
                    id="accordion-button<%= metadata_type.id %>"
            >
              <%= metadata_type.name %><span class="badge bg-secondary" style="margin-left: 15px;"><%= metadata_type.metadata.count %></span>
            </button>
          </h2>
          <div id="collapse<%= metadata_type.id %>" 
                class="accordion-collapse collapse" 
                aria-labelledby="heading<%= metadata_type.id %>" 
                data-bs-parent="#accordionExample"
                data-accordion-target="collapseContent"
          >
            <div class="accordion-body">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Metadata Name</th>
                    <th colspan="3">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <% metadata_type.metadata.each do |metadatum| %>
                    <%= render "metadata_types/metadata/metadatum", metadatum: metadatum %>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>