<!--	<table class="table table-striped" 
				data-controller="metadatasearch"
				data-metadatasearch-url-value="/metadata_types/search"
	>
		<thead>
			<tr>
			<th>MetadataType Name</th>
			<th class="thin-column">Actions</th>
			</tr>
			<tr>
				<th>
					<%#= render "search_input", id: "type" %>-->
<!--				</th>
				<th class="thin-column btn-tools">
						<%#= form_with model: MetadataType.new do |form| %>-->
							<%#= form.hidden_field :name, data: { "metadatasearch-target": "nameinput" } %>
							<%#= form.submit "+", class: "btn btn-success me-2" %>
						<%# end %>
<!--					<button class="btn btn-warning" data-action="click->metadatasearch#onClear">clear</button>
				</th>
			</tr>
		</thead>
		<tbody id="metadata_type_list">
			<%# @metadata_types.each do |metadata_type| %>-->
				<%#= render "metadata_type", metadata_type: metadata_type %>
			<%# end %>
<!--		</tbody>
	</table>-->
	<div class="list-group list-group-striped"
		data-controller="metadatasearch"
		data-metadatasearch-url-value="/metadata_types/search"
	>	
		<div class="list-group-item">
			<div>
				Title
			</div>
			<div>
				Actions
			</div>
		</div>
		<div class="list-group-item">
			<div>
				<%= render "search_input", id: "type" %>
			</div>
			<div class="thin-column btn-tools">
				<%= form_with model: MetadataType.new do |form| %>
					<%= form.hidden_field :name, data: { "metadatasearch-target": "nameinput" } %>
					<%= form.submit "+", class: "btn btn-success me-2" %>
				<% end %>
				<button class="btn btn-warning" data-action="click->metadatasearch#onClear">clear</button>
			</div>
		</div>
		<% @metadata_types.each do |metadata_type| %>
			<%= render "metadata_type", metadata_type: metadata_type %>
		<% end %>
	</div>