<!--	<table class="table table-striped" 
				data-controller="metadatasearch"
				data-metadatasearch-url-value="/metadata_types/search"
	>
		<thead>
			<tr>
			<th>MetadataType Name</th>
			<th class="thin-column">Actions</th>
			</tr>
			<tr>
				<th>
					<%#= render "search_input", id: "type" %>-->
<!--				</th>
				<th class="thin-column btn-tools">
						<%#= form_with model: MetadataType.new do |form| %>-->
							<%#= form.hidden_field :name, data: { "metadatasearch-target": "nameinput" } %>
							<%#= form.submit "+", class: "btn btn-success me-2" %>
						<%# end %>
<!--					<button class="btn btn-warning" data-action="click->metadatasearch#onClear">clear</button>
				</th>
			</tr>
		</thead>
		<tbody id="metadata_type_list">
			<%# @metadata_types.each do |metadata_type| %>-->
				<%#= render "metadata_type", metadata_type: metadata_type %>
			<%# end %>
<!--		</tbody>
	</table>-->
	<h1>Metadata Types</h1>
	<div class="list-group list-group-flush"
		data-controller="metadatasearch"
		data-metadatasearch-url-value="/metadata_types/search"
	>	
		<!-- accordion and accoridion-button are only here to to use the bootstrap theme-->
		<div class="list-group-item">
			<div class="row">
				<div class="col">
					<div class="bold">Title</div>
				</div>
				<div class="thin-column btn-tools">
					<div class="bold">Actions</div>
				</div>
			</div>
		</div>
		<div class="list-group-item list-group-header">
			<div class="row">
				<div class="col">
					<%= render "search_input", id: "type" %>
					<%= inline_error_for(:name, @metadata_type) %>
				</div>
				<div class="thin-column btn-tools">
					<%= form_with model: @metadata_type do |form| %>
						<%= form.hidden_field :name, data: { "metadatasearch-target": "nameinput" } %>
						<%= form.submit "+", class: "btn btn-success me-2" %>
					<% end %>
					<button class="btn btn-warning" data-action="click->metadatasearch#onClear">clear</button>
				</div>
			</div>
		</div>
	</div>
	<div class="list-group list-group-striped list-group-flush" id="metadata_types_list">	
			<% MetadataType.all.each do |metadata_type| %>
				<%= render "metadata_type", metadata_type: metadata_type %>
			<% end %>
	</div>