<div class="list-group-item" id="<%= dom_id @metadatum %>">
	<%= turbo_frame_tag dom_id(@metadatum, "turbo_frame") do %>
		<%= form_for [@metadata_type, @metadatum] do |form| %>
			<div class="row">
				<div class="col">
					<%= form.text_field :name, class: "form-control", data: { "metadatasearch-target": "nameinput" } %>
					<%= inline_error_for(:name, @metadatum) %>
				</div>
				<div class="thin-column">
					<div class="btn-tools">
						<%= form.submit "Update", method: :put, class: "btn btn-primary me-2" %>
						<!--<button class="btn btn-warning" data-action="click->metadatasearch#onClear">Cancel</button>-->
						<%= link_to "Cancel", metadata_types_path, class: "btn btn-warning" %>
					</div>
				</div>
			</div>
		<%end%>
	<% end %>
</div>