<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <%= link_to root_path, class: 'navbar-brand d-flex align-items-center text-white' do %>
      <img src="<%= asset_path('SolarSpell.png') %>" alt="Logo" class="logo me-2">
      SPELL-CC
    <% end %>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to 'Metadata', metadata_types_path, class: 'nav-link ' + (current_controller?('metadata_types') ? 'active text-warning' : 'text-white') %>
        </li>
        <li class="nav-item">
          <%= link_to 'Content', contents_path, class: 'nav-link ' + (current_controller?('contents') ? 'active text-warning' : 'text-white') %>
        </li>
        <li class="nav-item">
          <%= link_to 'Copyright', copyright_permissions_path, class: 'nav-link ' + (current_controller?('copyrights') ? 'active text-warning' : 'text-white') %>
        </li>
        <li class="nav-item">
          <span class="nav-link text-white">Resources</span>
        </li>
        <li class="nav-item">
          <span class="nav-link text-white">FAQ</span>
        </li>
      </ul>
      
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to 'Profile', edit_user_registration_path, class: 'nav-link ' + (current_controller?('devise') ? 'active text-warning' : 'text-white') %>
          </li>
          <li class="nav-item">
            <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: 'btn btn-warning ms-2' %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= button_to "Sign Up", home_join_path, method: :get, class: 'btn btn-warning ms-2' %>
          </li>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: 'nav-link text-white' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>